@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  --fonte: 'Roboto', sans-serif;
  --color: white;
  --borda: 2px solid lightgray;
  --borda-curva: 5px;
}

body {
  background: var(--background);
  font-family: var(--fonte);
  color: var(--color);
}

main {
  height: 650px;
  margin: 0 auto;
}

fieldset {
  margin-top: 20px;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 15px;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

.entrada-texto {
  width: 430px;
  height: 50px;
  padding: 10px;
  border: var(--borda);
  border-top-left-radius: var(--borda-curva);
  border-bottom-left-radius: var(--borda-curva);
}

.entrada-texto::placeholder {
  color: lightslategray;
}

.entrada-texto:focus {
  outline: none;
}

.btn {
  height: 50px;
  width: 50px;
  border: var(--borda);
  border-top-right-radius: var(--borda-curva);
  border-bottom-right-radius: var(--borda-curva);
  cursor: pointer;
  transition: 1s all;
  padding-top: 3px;
  color: gray;
  font-weight: bold;
}

ion-icon {
  font-size: 25px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(213, 221, 230);
  transform: scale(1.03);
  color: #fff;
}

.lista-container {
  text-align: center;
}

#task-list {
  list-style: none;
  padding-left: 0;
  width: 500px;
  margin: 20px auto;
}

.task-box {
  position: relative;
  height: 50px;
  line-height: 50px;  
  text-align: left;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding-left: 8px;
  transition: 0.5s;
  border-radius: var(--borda-curva);
}

#task-list li span {
  font-size: 18px;
}

.task-box ion-icon {
  position: absolute;
  top: 0;
  height: 40px;
  width: 30px;
  padding: 5px;
  transition: .5s;
}

#task-list .done-btn {
  right: 40px;
}

#task-list .done-btn:hover {
  color: #a8eb12;
}

.remove-btn {
  right: 5px;
}

.remove-btn:hover {
  color:rgba(255, 0, 0, 0.907);
}

.hide {
  display: none;
}

#task-list li.done {
  background-color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}